<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>İLETİŞİM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon-->
    <link rel="shortcut icon" href="{{STATIC_URL}}home/assets/images/icon/favicon.png" type="image/x-icon">

    <!-- Web Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Montserrat:400,700|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Ubuntu:300,300i,400,400i,500,500i,700,700i&amp;amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">

    <!-- Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}home/assets/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}home/assets/libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}home/assets/libs/animate/animated.css">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}home/assets/libs/owl.carousel.min/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}home/assets/libs/jquery.mmenu.all/jquery.mmenu.all.css">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}home/assets/libs/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}home/assets/libs/direction/css/noJS.css">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}home/assets/libs/prettyphoto-master/css/prettyPhoto.css">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}home/assets/libs/slick-sider/slick.min.css">

    <!-- Template CSS-->
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}home/assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}home/assets/css/home.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries-->
    <!-- WARNING: Respond.js doesn't work if you view the page via file://-->
    <!--if lt IE 9
    script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
    script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')

    -->
  </head>
  <body class="contact-us">
    <div id="preloaderKDZ"></div>
    <div class="sn-site">
      <header class="header sn-header-style-1">
        <div class="header-top">
          <div class="container">
            <div class="header-top-left">
              <aside id="text-2" class="widget widget_text">
                <div class="textwidget"><i class="fa fa-envelope-o"></i>ekip@ekipmobilya.com</div>
              </aside>
              <aside id="text-3" class="widget widget_text">
                <div class="textwidget"><i class="fa fa-mobile"></i>+90 (212) 210 88 10</div>
              </aside>
              <aside id="text-4" class="widget widget_text">
                <div class="textwidget"><i class="fa fa-clock-o"></i> 29 Kasım Perşembe 2018 </div>
              </aside>
            </div>
            <div class="header-top-right">
              <div class="header-top-div header-top-search">
                <input type="text" placeholder="Ürün Arama..."/><a class="btn"><i class="fa fa-search"></i></a>
              </div>
            </div>
          </div>
        </div><a href="#primary-menu"><i class="fa fa-bars"></i></a>
        <div class="container">
          <div class="header-bottom">

            <div class="main-nav-wrapper header-left">
              <div class="header-logo pull-left"><a href="index.html" title="YOLO"><img src="{{STATIC_URL}}home/assets/images/logo/logoEkip.png" alt="logo" class="logo-img"/></a></div>
              <!-- .header-logo-->

              <nav id="primary-menu" class="main-nav">
                <ul class="nav">
                  <li class=""><a href="index.html">Ana Sayfa</a>
                  </li>

                  <li class="menu-item menu-shop"><a href="shop.html">KATEGORİLER</a>
                      <ul class="sub-menu row">
                          <li class="menu_style_dropdown menu-item">
                              <a href="#">MAKAM TAKIMLARI</a>
                              <!--<ul class="sub-menu" style="height: auto; max-height: 150px; overflow-x: hidden;">
                                  <li class="menu-item menu-item-object-page"><a href="#">GRANJ MAKAM TAKIM</a></li>
                                  <li class="menu-item menu-item-object-page"><a href="#">MARWOOD</a></li>
                                  <li class="menu-item menu-item-object-page"><a href="#">MASACHİ</a></li>
                                  <li class="menu-item menu-item-object-page"><a href="#">ORFİSS</a></li>
                              </ul>-->
                          </li>
                          <li class="menu_style_dropdown menu-item">
                              <a href="#">YÖNETİCİ TAKIMLARI</a>
                              <!--<ul class="sub-menu">
                                  <li class="menu-item menu-item-object-page"><a href="#">MARWOOD YÖNETİCİ</a></li>
                                  <li class="menu-item menu-item-object-page"><a href="#">MASACHİ</a></li>
                                  <li class="menu-item menu-item-object-page"><a href="#">ORFİS YÖNETİCİ</a></li>
                              </ul>-->
                          </li>
                          <li class="menu_style_dropdown menu-item">
                              <a href="#">ÇALIŞMA MASALARI</a>
                              <!--<ul class="sub-menu">
                                  <li class="menu-item menu-item-object-page"><a href="#">MARWOOD</a></li>
                                  <li class="menu-item menu-item-object-page"><a href="#">MASACHİ</a></li>
                              </ul>-->
                          </li>
                          <li class="menu_style_dropdown menu-item">
                              <a href="#">iŞ İSTASYONLARI</a>
                              <!--<ul class="sub-menu">
                                  <li class="menu-item menu-item-object-page"><a href="#">MARWOOD</a></li>
                                  <li class="menu-item menu-item-object-page"><a href="#">MASACHİ</a></li>
                                  <li class="menu-item menu-item-object-page"><a href="#">ORFİS</a></li>
                              </ul>-->
                          </li>
                          <li class="menu_style_dropdown menu-item">
                              <a href="#">TOPLANTI MASALARI</a>
                              <!--<ul class="sub-menu">
                                  <li class="menu-item menu-item-object-page"><a href="#">MARWOOD TOPLANTILAR</a></li>
                                  <li class="menu-item menu-item-object-page"><a href="#">MASACHİ TOPLANTILAR</a></li>
                                  <li class="menu-item menu-item-object-page"><a href="#">ORFİS TOPLANTILAR</a></li>
                              </ul>-->
                          </li>
                          <li class="menu_style_dropdown menu-item">
                              <a href="#">BANKOLAR</a>
                              <!--<ul class="sub-menu">
                                  <li class="menu-item menu-item-object-page"><a href="#">MARWOOD BANKOLAR</a></li>
                                  <li class="menu-item menu-item-object-page"><a href="#">MASACHİ BANKOLAR</a></li>
                              </ul>-->
                          </li>
                          <li class="menu_style_dropdown menu-item">
                              <!--<ul class="menu_style_dropdown menu-item">
                                  <li class="menu_style_dropdown menu-item"><a href="#">KİTAPLIKLAR</a></li>
                                  <li class="menu_style_dropdown menu-item"><a href="#">YAN ÜRÜNLER</a></li>
                              </ul>-->
                          </li>
                          <li class="menu_style_dropdown menu-item">
                              <a href="#">KANEPELER</a>
                              <!--<ul class="sub-menu">
                                   <li class="menu-item menu-item-object-page"><a href="#">ÇOKLU BEKLEME KOLTUKLARI</a></li>
                                    <li class="menu-item menu-item-object-page"><a href="#">FORSİT</a></li>
                                     <li class="menu-item menu-item-object-page"><a href="#">MASACHİ</a></li>
                                      <li class="menu-item menu-item-object-page"><a href="#">REFAKATÇİ VE DİNLENME</a></li>
                                  <li class="menu-item menu-item-object-page"><a href="#">SOFFA</a></li>
                              </ul>-->
                          </li>
                           <li class="menu_style_dropdown menu-item">
                              <a href="#">KOLTUK GRUBU</a>
                              <!--<ul class="sub-menu">
                                   <li class="menu-item menu-item-object-page"><a href="#">AHŞAP KOLTUKLAR</a></li>
                                    <li class="menu-item menu-item-object-page"><a href="#">BEKLEME KOLTUKLARI</a></li>
                                     <li class="menu-item menu-item-object-page"><a href="#">KAFE BAR RESTORANT KOLTUKLARI</a></li>
                                      <li class="menu-item menu-item-object-page"><a href="#">FİLE KOLTUKLAR</a></li>
                                  <li class="menu-item menu-item-object-page"><a href="#">FORSİT KOLTUK</a></li>
                                  <li class="menu-item menu-item-object-page"><a href="#">KOLSİT KOLTUK</a></li>
                                     <li class="menu-item menu-item-object-page"><a href="#">KONFERANS SEMİNER</a></li>
                                      <li class="menu-item menu-item-object-page"><a href="#">MASACHİ KOLTUK</a></li>
                                  <li class="menu-item menu-item-object-page"><a href="#">MEZURA</a></li>
                              </ul>-->
                          </li>
                      </ul>

                      </li>

                      <li class="menu-item menu-blog"><a href="renkler.html">RENKLER</a>

                      </li>
                      <li class="menu-item menu-blog"><a href="about-us.html">HAKKIMIZDA</a>

                      </li>

                      <li class="menu-item menu-blog"><a href="contact-us.html">İLETİŞİM</a>

                      </li>




                    </ul>
                  </li>




                </ul>


              </nav>
              <!-- .header-main-nav-->
            </div>



          </div>
        </div>

      </header>
      <!-- HEADER SON -->

      <div id="example-wrapper">
        <div class="section">
          <div class="banner-sub-page">
            <div class="contact-us-map">
              <div class="map-embed">
                <div class="contact-us-map">
                  <div class="map-embed">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d149361.30418916204!2d-111.96268973238759!3d40.662382309418525!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87528d869d1ee20d%3A0x335b2f731059605a!2sUSANA+Amphitheatre!5e0!3m2!1svi!2s!4v1477730611255" width="600" height="450" allowfullscreen=""></iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <section>
          <div class="container">
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-10">
                <div class="contact-us-content">
                  <h2>PRATİK BİLGİLER</h2>
                  <div class="wpb_text_column">
                    <div class="wpb_wrapper">
                      <p>İletisim Bilgilerimiz Aşağıdadır.</p>
                      <div class="row-icon-box row">
                        <div class="col-md-4">
                          <div class="icon-box icon-box-style1">
                            <div class="icon-box-left"><i class="fa fa-map-marker color-3f font-25"></i></div>
                            <div class="icon-box-right">
                              <p class="color-3f">Bizi Ziyaret Edin</p><span>
                                Gürsel Mah. Kağıthane Cad. No:78,
                                Kağıthane / İSTANBUL</span>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="icon-box icon-box-style1">
                            <div class="icon-box-left"><i class="fa fa-phone color-3f font-25"></i></div>
                            <div class="icon-box-right">
                              <p class="color-3f">TELEFON</p><span>+90 (212) 210 88 10</span>
                              <p class="color-3f"></p><span>+90 (212) 220 35 98</span>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="icon-box icon-box-style1">
                            <div class="icon-box-left"><i class="fa fa-envelope-o color-3f font-25"></i></div>
                            <div class="icon-box-right">
                              <p class="color-3f">BİZİMLE ÇALIŞMAK İSTER MİSİNİZ?</p><span>ekip@ekipmobilya.com</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="wpb_text_column wpb_content_element">
                    <div class="wpb_wrapper">
                    </div>
                  </div>
                  <div class="contact-bottom">
                    <h2>İLETİŞİM</h2>
                    <div class="row">
                      <div class="contact-bottom-left col-md-12">
                        <form action="#" method="post" novalidate="novalidate" class="wpcf7-form">
                          <p></p>
                          <h6>İSİM *</h6>
                          <p><span class="wpcf7-form-control-wrap your-name">
                              <input name="your-name" value="" size="40" placeholder="ADINIZI GİRİN..." type="text" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"/></span></p>
                          <p></p>
                          <h6>EMAIL *</h6>
                          <p><span class="wpcf7-form-control-wrap your-email">
                              <input name="your-email" value="" placeholder="EMAİL ADRESİNİZİ GİRİN" type="email" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"/></span></p>
                          <p></p>
                          <h6>MESAJ</h6>
                          <p><span class="wpcf7-form-control-wrap your-message">
                              <textarea name="your-message" cols="40" rows="4" aria-invalid="false" class="wpcf7-form-control wpcf7-textarea"></textarea></span></p>
                          <p>
                            <input value="MESAJ GÖNDER" type="submit" class="wpcf7-form-control wpcf7-submit"/>
                          </p>
                          <div class="wpcf7-response-output wpcf7-display-none"></div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <div class="section">
           <footer class="footer footer-style-1">
            <div class="footer-top">
              <div class="container"><a href="index.html" title="Ekip Mobilya"><img src="{{STATIC_URL}}home/assets/images/logo/logoEkip.png" alt="logo" class="logo-img"/></a>
                <ul class="social-footer">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
                  <li><a href="#"><i class="fa fa-rss"></i></a></li>
                </ul>
                <p class="desc"><strong>Ekip Mobilya 1989 yilinda kurulmuş olup 20 yıldır ofis mobilyası ve dekorasyon <br> sektöründe kalite ve güvenilirliği ile hizmet vermektedir.</strong></p>
                <div class="div-icon-box">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="icon-box icon-box-style2">
                        <div class="icon-box-left"><i class="fa fa-map-marker"></i></div>
                        <div class="icon-box-right"><span>Gürsel Mah. Kağıthane Cad. No:78 Kağıthane / İSTANBUL </span></div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="icon-box icon-box-style2">
                        <div class="icon-box-left"><i class="fa fa-phone"></i></div>
                        <div class="icon-box-right"><span>Telefon : +90 (212) 210 88 10 <br>
                          Telefon : +90 (212) 220 35 98 <br>
                          Fax : +90 (212) 210 88 09 <br>
                          Gsm : +90 (532) 397 88 95</span></div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="icon-box icon-box-style2">
                        <div class="icon-box-left"><i class="fa fa-envelope-o"></i></div>
                        <div class="icon-box-right"><span>Email : ekip@ekipmobilya.com</span></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer-bottom">
              <div class="container">
                <div class="copyright">©  2018 Ekip Mobilya</div>

              </div>
            </div>
          </footer>
        </div>

      </div>
    </div>
    <!-- .mv-site-->



    <div class="popup-wrapper">
    </div>
    <!-- .popup-wrapper-->
    <div class="click-back-top-body">
      <button type="button" class="sn-btn sn-btn-style-17 sn-back-to-top fixed-right-bottom"><i class="btn-icon fa fa-angle-up"></i></button>
    </div>

    <!-- Vendor jQuery-->
    <script type="text/javascript" src="{{STATIC_URL}}home/assets/libs/jquery/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}home/assets/libs/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}home/assets/libs/animate/wow.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}home/assets/libs/owl.carousel.min/owl.carousel.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}home/assets/libs/jquery.mmenu.all/jquery.mmenu.all.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}home/assets/libs/countdown/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}home/assets/libs/jquery-appear/jquery.appear.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}home/assets/libs/jquery-countto/jquery.countTo.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}home/assets/libs/direction/js/jquery.hoverdir.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}home/assets/libs/direction/js/modernizr.custom.97074.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}home/assets/libs/isotope/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}home/assets/libs/isotope/fit-columns.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}home/assets/libs/isotope/isotope-docs.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}home/assets/libs/mansory/mansory.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}home/assets/libs/prettyphoto-master/js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}home/assets/libs/slick-sider/slick.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}home/assets/js/min/main.min.js"></script>
  </body>
</html>